<html>
<head>

	<title>textangular handlebars test</title>

	<script src="angular/angular.js"></script>
	<script src="textAngular-sanitize.js"></script>
	<script src="textangular/dist/textAngular.js"></script>
	<script src="ace-builds/src-min-noconflict/ace.js"></script>
	<script src="angular-ui-ace/src/ui-ace.js"></script>
	<script src="handlebars/dist/handlebars.js"></script>

	<script src="app.js"></script>
	<script src="handlebarsPreview/directive.js"></script>

	<link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="textangular/dist/textAngular.css">
</head>
<body>
	<div ng-app="handlebarsTextangular">

	</div>
</body>
</html>